@model ClienteWeb.Pages.Contracts.Generate.GenerateModel

<div class="legal-body">
    <span class="clause-title">PRIMERA. - OBJETO.</span>
    <p>
        En virtud del presente Contrato, <strong>EL PRESTADOR</strong> se obliga a prestar a <strong>EL CLIENTE</strong>, los <strong>SERVICIOS</strong>, (en adelante, “<strong>SERVICIOS</strong>”), que se describen y detallan en el <strong>ANEXO 1</strong> denominado “<strong>ALCANCES DEL SERVICIO</strong>”, que una vez firmado por ambas partes pasará a formar parte integrante del mismo. El <strong>ANEXO 1</strong> podrá ser modificado por acuerdo de las partes y que obre por escrito, pasando dicha modificación a formar parte de este mismo Contrato.
    </p>

    <span class="clause-title">SEGUNDA. - CONTRAPRESTACIÓN.</span>
    <p>
        Como consecuencia de la prestación de los <strong>SERVICIOS</strong>, <strong>EL CLIENTE</strong> pagará a <strong>EL PRESTADOR</strong>, las cantidades pactadas, en los términos y fechas que se describen en el <strong>ANEXO 2</strong> denominado “CALENDARIO Y FORMAS DE PAGO DE LOS <strong>SERVICIOS</strong>” y que una vez firmado por ambas partes, pasará a formar parte integrante de este Contrato.
        <br><br>
        <strong>EL PRESTADOR</strong> y <strong>EL CLIENTE</strong> acuerdan que es facultad exclusiva de <strong>EL PRESTADOR</strong> el determinar la forma en que se prestarán los <strong>SERVICIOS</strong>, por lo que <strong>EL PRESTADOR</strong> proporcionará la totalidad de los elementos, instrumentos, maquinaria y equipo necesario para la prestación de los mismos, estando dichos costos incluidos en la contraprestación entregada a <strong>EL PRESTADOR</strong>.
        <br><br>
        <strong>EL PRESTADOR</strong> acepta que el pago de la contraprestación se realice, en su caso, mediante cheque o transferencia bancaria, por lo que se obliga a entregar a la fecha de firma del presente Contrato a <strong>EL CLIENTE</strong> copia de su estado de cuenta bancaria donde se realizará dicha transferencia. En dicho estado de cuenta, deberá ser legible la información siguiente: i) Razón o denominación de la Institución de Crédito en la que <strong>EL PRESTADOR</strong> tiene aperturada su cuenta bancaria; ii) clabe bancaria y el número de cuenta de <strong>EL PRESTADOR</strong> a la que se realizará el depósito; iii) que <strong>EL PRESTADOR</strong> es el titular de dicha cuenta bancaria.
        <br>
        En virtud de lo antes mencionado, las partes acuerdan que para el caso que <strong>EL PRESTADOR</strong> realice el cambio de su cuenta bancaria, deberá dar aviso por escrito a <strong>EL CLIENTE</strong>, con por lo menos 15 (quince) días naturales previos a la fecha en que deba realizar el siguiente pago, adjuntando al mismo el comprobante bancario, ya que en caso contrario <strong>EL CLIENTE</strong> no será responsable del pago indebido que llegue a realizar por no haber recibido a tiempo el aviso. Las partes acuerdan que lo establecido en el presente párrafo se hará sin necesidad de realizar un convenio modificatorio al respecto.
        <br><br>
        <strong>EL PRESTADOR</strong> en este acto acepta y se obliga a expedir la factura por los <strong>SERVICIOS</strong> efectivamente prestados, aceptados y a entera satisfacción de <strong>EL CLIENTE</strong>, con los datos fiscales de este último o de cualquiera de sus empresas relacionadas, incluyendo a sus filiales, subsidiarias, afiliadas, controladoras o controladas. No obstante lo anterior, el pago de la contraprestación siempre se entenderá realizado por <strong>EL CLIENTE</strong>.
        <br><br>
        <strong>EL PRESTADOR</strong> otorga a <strong>EL CLIENTE</strong> la facultad de retenerle el pago de la contraprestación, hasta en tanto <strong>EL PRESTADOR</strong> no realice la entrega de la póliza de responsabilidad civil establecida en el presente Contrato, sin que dicha retención sea considerada como incumplimiento de pago por parte de <strong>EL CLIENTE</strong>.
        <br><br>
        Sin perjuicio de lo anterior, en caso de que las partes hayan acordado el pago de la contraprestación con base en pagos periódicos mensuales, la retención a que se refiere el párrafo anterior no podrá efectuarse sino hasta el segundo pago mensual y sólo en el supuesto de no haber recibido dicha garantía.
        <br><br>
        <strong>LAS PARTES</strong> acuerdan que la obligación de pago contemplada en el presente Contrato surtirá sus efectos a partir de la fecha de su firma, en el entendido que la retroactividad del mismo no conllevará el incumplimiento de pago por parte de <strong>EL CLIENTE</strong>. <strong>LAS PARTES</strong> están de acuerdo en que, de tener pagos pendientes por <strong>SERVICIOS</strong> efectivamente prestados, aceptados y a entera satisfacción de <strong>EL CLIENTE</strong> con anterioridad a la firma de este instrumento, los pagos se realizarán cuando <strong>EL PRESTADOR</strong> realice su trámite de pago en los términos y condiciones pactadas. En virtud de lo antes expuesto, <strong>EL PRESTADOR</strong> no se reserva ninguna acción o derecho que ejercitar en contra de <strong>EL CLIENTE</strong> ni de sus apoderados, representantes legales, empleados, factores o dependientes.
    </p>

    <span class="clause-title">TERCERA. DE LA ENTREGA Y VALIDACIÓN DE FACTURAS.</span>
    <p>
        Cada vez que <strong>EL CLIENTE</strong> reciba y acepte <strong>SERVICIOS</strong> a su entera satisfacción que hayan sido efectivamente prestados por parte de <strong>EL PRESTADOR</strong>, <strong>EL CLIENTE</strong> deberá generar la autorización del pago mediante la publicación de la "ORDEN", así como sus recepciones en el "PORTAL" de proveedores (https://proveedores.ado.mx), de acuerdo con las cantidades e importes que se describen en el <strong>ANEXO 2</strong> del presente instrumento.
        <br><br>
        Una vez realizado lo señalado en el párrafo anterior, la "ORDEN" estará disponible en el "PORTAL". <strong>EL PRESTADOR</strong> se obliga a ingresar electrónicamente al "PORTAL" debiendo adjuntar los comprobantes fiscales, en lo sucesivo "Facturas" que amparen las cantidades consignadas en la "ORDEN".
        <br><br>
        <strong>EL CLIENTE</strong> debe proporcionar acceso al "PORTAL" a <strong>EL PRESTADOR</strong> mediante una cuenta de correo que este último proporcione y una contraseña que <strong>EL CLIENTE</strong> genere.
        <br><br>
        <strong>EL PRESTADOR</strong> no podrá adjuntar "Facturas" a través del PORTAL sino hasta que la correspondiente ORDEN se encuentre disponible, en el entendido que no procederá pago alguno que contravenga esta disposición.
        <br><br>
        Una vez que la "ORDEN" se encuentre disponible en el "PORTAL", <strong>EL PRESTADOR</strong> se sujetará a lo siguiente:
        <ul style="margin-left: 2em;">
            <li>Deberá adjuntar en el "PORTAL" la Factura CFDI en archivo electrónico tanto en formato PDF como en formato XML, y siempre que reúnan los requisitos fiscales señalados por la legislación vigente en la materia, el "PORTAL" le permitirá asociar dichas "Facturas" a la "ORDEN".</li>
            <li>En caso de rechazo de "Facturas", <strong>EL PRESTADOR</strong> deberá subsanar las irregularidades en un plazo máximo de 48 (cuarenta y ocho) horas.</li>
            <li><strong>EL PRESTADOR</strong> deberá identificar el <strong>SERVICIO</strong> que está facturando, asignándole en las "Facturas" la clave de clasificación que le corresponda de conformidad con el catálogo publicado por el SAT.</li>
            <li><strong>EL PRESTADOR</strong> deberá incluir en el cuerpo de las "Facturas" el número de contrato señalado en la parte superior de este Contrato que ampare los <strong>SERVICIOS</strong> efectivamente prestados, aceptados y a entera satisfacción de <strong>EL CLIENTE</strong>. La falta de este requisito será una causal de rechazo de "Facturas".</li>
        </ul>
        <br>
        <strong>EL CLIENTE</strong> procederá a realizar el pago correspondiente a la cuenta bancaria de <strong>EL PRESTADOR</strong> dentro de los 15 (quince) días hábiles posteriores a la carga y validación de "Facturas" en el "PORTAL".
        <br><br>
        Toda comunicación entre las partes sobre este proceso de pago será realizada a través del "PORTAL", por lo que no procederá reclamo o aclaración alguna que no se realice por este medio.
        <br><br>
        <strong>EL PRESTADOR</strong> expresamente manifiesta su total acuerdo en la aplicación del procedimiento de entrega de "Facturas" y validación de <strong>SERVICIOS</strong> descritos en la presente cláusula, por lo que acepta incondicionalmente que no será procedente de forma alguna la entrega de "Facturas" por otro medio físico o electrónico, conocido o por conocerse. En virtud de ello, acepta que tampoco será procedente el pago de cualquier contraprestación cuya <strong>Factura</strong> no cuente con la validación correspondiente.
    </p>

    <span class="clause-title">CUARTA. - LUGAR Y FORMA DE EJECUCIÓN DE LOS SERVICIOS”.</span>
    <p>
        Las partes acuerdan que toda vez que la prestación de los <strong>SERVICIOS</strong> será por cuenta y orden de <strong>EL PRESTADOR</strong> y podrán prestarse en las instalaciones de <strong>EL CLIENTE</strong>, ubicadas en el domicilio que se menciona en el presente Contrato.
        <br><br>
        <strong>EL PRESTADOR</strong>, de acuerdo con las experiencias obtenidas en prestaciones similares, se obliga a prestar los <strong>SERVICIOS</strong> de conformidad con los tiempos establecidos en el <strong>ANEXO 3</strong> del presente Contrato, que una vez firmado por las partes pasará a formar parte integrante del mismo. <strong>EL PRESTADOR</strong> notificará oportunamente a <strong>EL CLIENTE</strong> de aquellos casos en que no le sea posible realizar los <strong>SERVICIOS</strong>, conforme a lo establecido en el <strong>ANEXO 3</strong>, a fin de que <strong>EL CLIENTE</strong> pueda tomar las medidas conducentes, siempre con cargo a la contraprestación o bien aplicando el descuento que corresponda por retrasos a elección de <strong>EL CLIENTE</strong> en términos de la cláusula relacionada al Incumplimiento del presente Contrato.
    </p>

    <span class="clause-title">QUINTA. - SERVICIOS EXTRAORDINARIOS. ”.</span>
    <p>
        En caso de que varíen las condiciones que tomó en cuenta <strong>EL PRESTADOR</strong> para la determinación de la manera de la prestación de los <strong>SERVICIOS</strong>, <strong>EL CLIENTE</strong> podrá solicitar expresa y claramente por escrito, la prestación de <strong>SERVICIOS</strong> adicionales a los contemplados en el <strong>ANEXO 1</strong> de este Contrato, los cuales, antes de ser proveídos, deberán ser acordados por escrito entre las partes en el <strong>ANEXO 4</strong> denominado “FORMATO DE AUTORIZACIÓN DE <strong>SERVICIOS</strong> EXTRAORDINARIOS O VIÁTICOS”, en el entendido que el importe de los <strong>SERVICIOS</strong> extraordinarios no podrá exceder el 10% (diez por ciento) del valor total del presente Contrato.
        <br><br>
        En el caso de que <strong>EL CLIENTE</strong> autorice a <strong>EL PRESTADOR</strong> el pago de viáticos para la prestación de los <strong>SERVICIOS</strong>, éstos serán pagados vía reembolso, previa entrega de las facturas expedidas a nombre de <strong>EL CLIENTE</strong> que amparen dichos viáticos, y que cumplan las políticas de viáticos autorizados por <strong>EL CLIENTE</strong> mediante el <strong>ANEXO 4</strong>.
    </p>

    <span class="clause-title">SEXTA. - PERSONAL DE EL PRESTADOR”.</span>
    <p>
        <strong>EL PRESTADOR</strong> se obliga a cumplir en todo momento con el perfil, capacidades, experiencia técnica y profesional suficiente para cumplir con eficacia y profesionalismo con el objeto del presente Contrato, y en caso de requerir personal para la prestación del <strong>SERVICIO</strong>, el mismo estará bajo sus órdenes, instrucciones y dirección, a efecto de lograr la máxima eficacia en la prestación de los mismos.
        <br><br>
        <strong>EL PRESTADOR</strong> se constituye en este acto como responsable solidario de los daños que su personal pudiera causar contra los bienes, o personal y sus bienes de <strong>EL CLIENTE</strong>, así como de cualquier daño que llegaren a ocasionar a <strong>EL CLIENTE</strong>.
        <br><br>
        Para efectos de cumplir con las políticas de control y seguridad de todas las personas que ingresan en el domicilio de <strong>EL CLIENTE</strong>, <strong>EL PRESTADOR</strong> enlistará a su personal para los <strong>SERVICIOS</strong>.
        <br><br>
        <strong>EL PRESTADOR</strong> se obliga a entregar periódicamente a <strong>EL CLIENTE</strong>, las constancias que acrediten que ha cumplido con las obligaciones en materia de seguridad social y laborales, respecto de los elementos que <strong>EL PRESTADOR</strong> haya determinado para la prestación de los <strong>SERVICIOS</strong> objeto del presente Contrato. La falta de entrega periódica de los documentos antes señalados será considerada como incumplimiento del presente Contrato y dará derecho a <strong>EL CLIENTE</strong> a rescindir el mismo, sin necesidad de dar aviso o notificación previa a <strong>EL PRESTADOR</strong>.
        <br><br>
        El coordinador de <strong>EL CLIENTE</strong> tendrá la obligación de solicitar y conminar a <strong>EL PRESTADOR</strong>, para que haga la entrega de los documentos antes referidos.
        <br><br>
        En caso de que la falta de cumplimiento a lo antes señalado genere algún tipo de juicio, sanción, multa, sentencia, laudo, revisión o negativa de deducibilidad de impuestos, en contra de <strong>EL CLIENTE</strong>, <strong>EL PRESTADOR</strong> se compromete a sacar a <strong>EL CLIENTE</strong> en paz y a salvo de lo anteriormente señalado, corriendo a su cargo con los honorarios y gastos que al efecto se generen.
    </p>

    <span class="clause-title">SÉPTIMA. - SEGUIMIENTO DE LOS “SERVICIOS”.</span>
    <p>
        “<strong>LAS PARTES</strong> acuerdan que cada una de ellas nombrará a un Coordinador del Contrato que estará encargado de: 
        <br style="margin-left: 20px;">
        i) mantener una adecuada comunicación para la prestación de los <strong>SERVICIOS</strong>; y, 
        <br style="margin-left: 20px;">
        ii) atender oportuna y adecuadamente cualquier aspecto o incidente que surja durante la ejecución del presente instrumento, a efecto de que el resultado de los <strong>SERVICIOS</strong> sea conforme a los tiempos y forma pactados.
        <br><br>
        <strong>EL CLIENTE</strong> nombra en este acto a <strong>JORGE CASIANO MATIAS E ISELA FRIAS SALAZAR</strong> y por su parte <strong>EL PRESTADOR</strong> nombra a <strong>@Model.Representative</strong>.
        <br><br>
        <strong>LAS PARTES</strong> acuerdan que el seguimiento de los <strong>SERVICIOS</strong> no implica la supervisión por parte de <strong>EL CLIENTE</strong> sobre el personal de <strong>EL PRESTADOR</strong> para la ejecución de los <strong>SERVICIOS</strong>.
    </p>

    <span class="clause-title">OCTAVA. - TERMINACIÓN ANTICIPADA.</span>
    <p>
        <strong>EL CLIENTE</strong> podrá dar por terminado anticipadamente el presente Contrato, sin responsabilidad alguna de su parte, mediante aviso dado por escrito, o correo electrónico con acuse de recibo, dado con al menos 15 (quince) días naturales de anticipación a la fecha en que se pretenda dar por terminado el presente Contrato, en el entendido que <strong>EL PRESTADOR</strong> sólo tendrá derecho a cobrar los <strong>SERVICIOS</strong> efectivamente proporcionados a <strong>EL CLIENTE</strong> y que queden pendientes de pago.
        <br><br>
        Por su parte, <strong>EL PRESTADOR</strong> deberá devolver toda la documentación que obra en su poder en el momento en que se lo solicite <strong>EL CLIENTE</strong>.
    </p>

    <span class="clause-title">NOVENA. - INCUMPLIMIENTO.</span>
    <p>
        Se considera que <strong>EL PRESTADOR</strong> se encuentra en incumplimiento de sus obligaciones, en el evento de que ocurra cualquiera de los siguientes supuestos:
        <br><br>
        &nbsp;&nbsp;a. Si incumple con cualquiera de las obligaciones que asume al amparo de este Contrato.
        <br>
        &nbsp;&nbsp;b. Si es declarado judicialmente en concurso mercantil o quiebra.
        <br>
        &nbsp;&nbsp;c. Si las declaraciones efectuadas bajo protesta de decir verdad resultan ser falsas, o si con motivo del presente Contrato proporciona información falsa a <strong>EL CLIENTE</strong>.
        <br>
        &nbsp;&nbsp;d. Cualquier otro hecho o actividad que afecte los intereses de <strong>EL CLIENTE</strong>.
        <br>
        &nbsp;&nbsp;e. Si <strong>EL PRESTADOR</strong> interrumpe la prestación de los <strong>SERVICIOS</strong> acordados.
        <br>
        &nbsp;&nbsp;f. Cuando se presente una conducta ilícita de <strong>EL PRESTADOR</strong>, de sus empleados, factores o dependientes, ya sea en contra de <strong>EL CLIENTE</strong> o de sus bienes, o de sus empleados, factores o dependientes.
        <br>
        &nbsp;&nbsp;g. En general, por el incumplimiento por parte de <strong>EL PRESTADOR</strong>, de cualquiera de las leyes, reglamentos y demás ordenamientos que regulan su actividad.
        <br><br>
        En caso de que se presente cualquiera de los supuestos antes mencionados, <strong>EL CLIENTE</strong> podrá proceder de forma inmediata y a su entera elección a las siguientes acciones:
        <br><br>
        &nbsp;&nbsp;i. Exigir el cumplimiento forzoso del Contrato, obligándose <strong>EL PRESTADOR</strong> a pagar una pena convencional por mora en el cumplimiento equivalente al 5% (cinco por ciento) del valor total de la contraprestación pactada en el presente Contrato por cada día de incumplimiento, más la indemnización establecida en la cláusula de Rescisión Contractual del presente Contrato por incumplimiento en general.
        <br>
        &nbsp;&nbsp;ii. Rescindir el Contrato en los términos establecidos en la cláusula de Rescisión Contractual del presente acuerdo de voluntades.
        <br><br>
        En todos los casos <strong>EL CLIENTE</strong> estará facultado para ejecutar la garantía de cumplimiento y póliza de responsabilidad civil establecidos en el presente instrumento.
    </p>

    <span class="clause-title">DÉCIMA. - RESCISIÓN CONTRACTUAL.</span>
    <p>
        En caso de que <strong>EL CLIENTE</strong> optara por la rescisión del presente Contrato, podrá hacerlo sin responsabilidad alguna de su parte, sin necesidad de declaración judicial y podrá exigir el pago de una indemnización que no podrá ser inferior al monto total de la contraprestación pactada en el presente Contrato. Esto se realizará mediante notificación por correo certificado o aviso por escrito con acuse de recibo firmado por el apoderado legal de <strong>EL CLIENTE</strong> y entregado en el domicilio de <strong>EL PRESTADOR</strong>.
        <br><br>
        Para efectos del presente Contrato, las partes se someten a los términos del artículo 1949 del <strong>Código Civil Federal</strong> y a sus demás correlativos y aplicables en los <strong>Códigos Civiles de las Entidades Federativas de la República Mexicana</strong>, renunciando expresamente a la aplicación del artículo 88 del <strong>Código de Comercio</strong>.
    </p>

    <span class="clause-title">DÉCIMA PRIMERA. - CASO FORTUITO O FUERZA MAYOR.</span>
    <p>
        Ninguna de las partes será responsable del retraso en el cumplimiento de las obligaciones derivadas del presente Contrato por caso fortuito o fuerza mayor, incluyendo en forma enunciativa y no limitativa, huelgas, problemas laborales, actos o políticas de cualquier gobierno, incendio, terremoto, guerras, revolución y cualquier otro problema fuera del control de ambas partes, durante el tiempo que dichas causas subsistan. No se entenderá como caso fortuito, las acciones u omisiones de un tercero, ajeno a la relación jurídica que ocasionen el retraso o incumplimiento de las obligaciones de este Contrato.
        <br><br>
        La parte que se encuentre imposibilitada de cumplir con sus obligaciones por cualquiera de las causas mencionadas en esta cláusula, deberá notificar por escrito a la otra parte de dicha situación, dentro de un plazo no mayor a 48 (cuarenta y ocho) horas siguientes a que se materialice cualquier causa de fuerza mayor o caso fortuito, y mantenerla informada sobre las condiciones de la misma, de lo contrario, no operará la suspensión de sus obligaciones y en consecuencia <strong>EL CLIENTE</strong> podrá dar por terminado el presente Contrato y proceder de conformidad con lo establecido en la cláusula relacionada a la <strong>Rescisión Contractual</strong> del presente instrumento, por cuanto hace a la indemnización.
        <br><br>
        En caso de que la causa de incumplimiento subsista por un periodo mayor de 30 (treinta) días naturales, la otra parte tendrá derecho a dar por terminado el presente Contrato sin responsabilidad alguna, mediante aviso dado por escrito con 10 (diez) días naturales de anticipación.
    </p>

    <span class="clause-title">DÉCIMA SEGUNDA. - RESPONSABILIDAD LABORAL.</span>
    <p>
        Las partes reconocen y aceptan que las únicas relaciones jurídicas existentes entre ellas son las derivadas del presente Contrato, las cuales son de naturaleza mercantil.
        <br><br>
        <strong>EL PRESTADOR</strong> será el único responsable de sus empleados, del pago de salarios ordinarios y extraordinarios, vacaciones, aguinaldo, prima de antigüedad, indemnizaciones en caso de despido injustificado, accidentes, así como cualquier obligación derivada de la <strong>Ley Federal del Trabajo</strong>. <strong>EL PRESTADOR</strong> conviene en cumplir estrictamente cualquier obligación establecida en la <strong>Ley del Seguro Social</strong> y en la <strong>Ley del Instituto del Fondo Nacional de la Vivienda para los Trabajadores</strong>, así como todos los reglamentos y disposiciones aplicables en relación con su personal. <strong>EL CLIENTE</strong> tendrá la facultad exclusiva de solicitar la documentación comprobatoria del cumplimiento de las obligaciones laborales por <strong>EL PRESTADOR</strong>, o de cerciorarse del cumplimiento de las mismas.
        <br><br>
        <strong>EL PRESTADOR</strong> acepta y reconoce que su personal y en general el elemento humano que intervenga en el cumplimiento de este Contrato, le son propios, en consecuencia, el pago de su salario, la dirección, capacitación y supervisión de su personal, correrán totalmente por su cuenta, encontrándose en todo momento subordinados a <strong>EL PRESTADOR</strong>, independientemente de que acudan a las instalaciones de <strong>EL CLIENTE</strong>.
        <br><br>
        En virtud de lo anterior, las partes acuerdan que el presente Contrato no crea asociación o sociedad alguna entre <strong>EL CLIENTE</strong> y <strong>EL PRESTADOR</strong>, ni una relación laboral entre <strong>EL CLIENTE</strong> y los empleados de <strong>EL PRESTADOR</strong>, por lo que cada una de las partes será la única responsable de las obligaciones derivadas de las disposiciones legales y demás ordenamientos en materia del trabajo y seguridad social.
        <br><br>
        <strong>EL PRESTADOR</strong> asume todos los riesgos y contingencias que pudieran derivarse de cualesquiera relaciones contractuales que tenga o que llegue a tener en el futuro con su personal, y tendrá la responsabilidad de sacar en paz y a salvo a <strong>EL CLIENTE</strong> así como a su personal o funcionarios y sus subsidiarias, de cualquier procedimiento laboral, administrativo, civil o de cualquier naturaleza en el que se vea relacionado o afectado, con independencia del carácter que se le atribuya, relacionado con la ejecución de este Contrato, obligándose <strong>EL PRESTADOR</strong> a pagar cualquier cantidad, incluso los honorarios legales de los abogados, que se determinen a cargo de <strong>EL CLIENTE</strong> y que se deriven de sentencia o laudo condenatorio o multa determinada por cualquier autoridad.
        <br><br>
        <strong>EL CLIENTE</strong> podrá compensar de la facturación insoluta, cualquier monto o menoscabo patrimonial que tuviere que erogar con motivo de algún requerimiento, multa o demanda realizada por autoridad competente y en su caso podrá optar conforme a su interés convenga por la rescisión del presente Contrato en términos de la cláusula relacionada a la <strong>Rescisión Contractual</strong> del presente instrumento.
        <br><br>
        Las partes convienen que el personal de <strong>EL PRESTADOR</strong> tendrá prohibido realizar para <strong>EL CLIENTE</strong> cualquier tipo de actividad que no esté directamente relacionada con los <strong>SERVICIOS</strong>.
    </p>

    <span class="clause-title">DÉCIMA  TERCERA. - PROPIEDAD INDUSTRIAL E INTELECTUAL.</span>
    <p>
        <strong>EL PRESTADOR</strong> por ningún motivo podrá hacer uso o explotación de los <strong>SERVICIOS</strong> prestados a <strong>EL CLIENTE</strong> para fines diversos al presente Contrato.
        <br><br>
        <strong>EL PRESTADOR</strong> no tendrá derecho al uso o explotación en su beneficio, de las marcas, avisos comerciales, o cualquier otro derecho de propiedad industrial e intelectual que pertenezca a <strong>EL CLIENTE</strong>.
        <br><br>
        Ambas partes están de acuerdo en que <strong>EL PRESTADOR</strong> no podrá distribuir, prestar, copiar, reproducir o vender, total o parcialmente a terceros, la documentación cuya propiedad intelectual pertenezca a <strong>EL CLIENTE</strong>, o que se haya desarrollado como consecuencia de la prestación de los <strong>SERVICIOS</strong>.
        <br><br>
        En caso de que <strong>EL CLIENTE</strong> advierta que existe violación en materia de propiedad intelectual por parte de <strong>EL PRESTADOR</strong> o de sus factores o dependientes, solicitará por escrito a <strong>EL PRESTADOR</strong> que subsane dicha situación de forma inmediata, siempre y cuando esta violación no sea irreversible; si en 3 (tres) días hábiles siguientes a la solicitud escrita, <strong>EL PRESTADOR</strong> no ha subsanado dicha situación, <strong>EL CLIENTE</strong> podrá rescindir el presente Contrato y proceder de conformidad a lo establecido en la cláusula relacionada a la <strong>Rescisión Contractual</strong> del presente instrumento, sin perjuicio de las sanciones civiles, administrativas y penales que puedan proceder.
        <br><br>
        <strong>EL PRESTADOR</strong> responderá en caso de cualquier reclamación judicial o extrajudicial, efectuada por terceros por supuestas infracciones a derechos en materia de propiedad intelectual derivados de la prestación de los <strong>SERVICIOS</strong> que se fijan en el presente Contrato, en el entendido que los gastos y costos que se originen de dichas reclamaciones correrán por su cuenta, debiendo sacar en paz y a salvo a <strong>EL CLIENTE</strong> de cualquier responsabilidad o carga en ese sentido.
        <br><br>
        La responsabilidad por violación a la presente cláusula tendrá una vigencia de <strong>10 (diez) años</strong>.
    </p>

    <span class="clause-title">DÉCIMA  CUARTA. - CONFIDENCIALIDAD.</span>
    <p>
        <strong>EL PRESTADOR</strong> reconoce que en el transcurso y con motivo de las negociaciones y en cualquier momento posterior a las mismas, así como con la firma del presente Contrato, recibe información de carácter privado y confidencial de <strong>EL CLIENTE</strong>, y/o cualquiera de sus empresas afiliadas, asociadas, subsidiarias o accionistas. Por ello, se compromete y obliga a:
        <br><br>
        &emsp;• Tratar dicha información con carácter confidencial.<br>
        &emsp;• Dar uso única y exclusivamente para el desarrollo del objeto del presente Contrato.<br>
        &emsp;• Abstenerse de utilizarla para cualquier otra finalidad distinta.<br>
        &emsp;• Mantenerla en estricto secreto y confidencialidad.
        <br><br>
        <strong>EL PRESTADOR</strong> reconoce que la información confidencial es de exclusiva propiedad de <strong>EL CLIENTE</strong> y que en ninguna circunstancia entenderá que es de su propiedad o que tiene algún derecho sobre ésta.
        <br><br>
        Ambas partes acuerdan que la información confidencial incluye, pero no se limita a:
        <br><br>
        &emsp;i) Información financiera.<br>
        &emsp;ii) Información sobre inversiones en actividades científicas y tecnológicas.<br>
        &emsp;iii) Servicios vigentes o concluidos más representativos en los últimos 5 (cinco) años.<br>
        &emsp;iv) Líneas de investigación en que se incursionará en los próximos 5 (cinco) años.<br>
        &emsp;v) Información clasificada como confidencial por las partes.<br>
        &emsp;vi) Datos contables, precios, especificaciones técnicas.<br>
        &emsp;vii) Documentos de capacitación y de recursos humanos.<br>
        &emsp;viii) Planes de negocio, planes de mercado, estrategias.<br>
        &emsp;ix) Listas de servicios, clientes, proveedores.<br>
        &emsp;x) Información técnica y de mercado.<br>
        &emsp;xi) Cualquier información expresada en forma oral, escrita, gráfica, electrónica o en cualquier otra forma.
        <br><br>
        <strong>EL PRESTADOR</strong> reconoce que <strong>EL CLIENTE</strong> tendrá el derecho de exigir en cualquier momento la devolución o destrucción de la información confidencial sin necesidad de declaración u orden judicial. <strong>EL CLIENTE</strong> podrá compartir dicha información con sus sociedades subsidiarias, filiales, afiliadas, controladoras y controladas, así como con auditores internos y externos.
        <br><br>
        <strong>EL PRESTADOR</strong> se obliga a mantener el secreto y confidencialidad de la información confidencial hasta <strong>10 (diez) años</strong> siguientes a la terminación del Contrato.
        <br><br>
        Por incumplimiento de estas obligaciones, <strong>EL CLIENTE</strong> podrá:
        <br><br>
        &emsp;• Rescindir el Contrato si aún estuviera vigente.<br>
        &emsp;• Exigir a <strong>EL PRESTADOR</strong> el pago de daños y perjuicios.<br>
        &emsp;• En caso de incumplimiento dentro de los 10 años siguientes a la terminación, exigir el pago de daños y perjuicios que no podrán ser inferiores al monto total de la contraprestación pactada.
        <br><br>
        En caso de duda sobre si la información es confidencial, las partes acuerdan tratarla como tal.
    </p>

    <span class="clause-title">DÉCIMA QUINTA. - PROTECCIÓN DE DATOS PERSONALES.</span>
    <p>
        En cumplimiento a lo dispuesto en la <strong>Ley Federal de Protección de Datos Personales en Posesión de los Particulares</strong>, en adelante <strong>“LA LEY”</strong>, ambas partes acuerdan que los datos personales de contacto y de representación obtenidos como resultado de la ejecución de este Contrato, o de cualquier tipo de relación contractual derivada del mismo, serán tratados de manera confidencial y utilizados únicamente para los fines convenidos en el presente Contrato.
        <br><br>
        <strong>EL PRESTADOR</strong> se obliga a:
        <br><br>
        &emsp;• No usar, compartir, divulgar, transmitir a terceros ni publicar los datos personales de terceros o de <strong>EL CLIENTE</strong> y sus empleados, sean personas físicas o morales, nacionales o extranjeras, sin la previa solicitud y autorización por escrito de <strong>EL CLIENTE</strong>.<br>
        &emsp;• La autorización deberá explicar los fines para los cuales se requiere la información y deberá estar firmada por el tercero a quien se transmitirá la información.<br>
        &emsp;• Cumplir con los términos que establece <strong>LA LEY</strong> en todo momento.
        <br><br>
        <strong>EL PRESTADOR</strong> autoriza a <strong>EL CLIENTE</strong> a compartir los datos obtenidos como resultado de la ejecución del Contrato con sus sociedades subsidiarias, filiales, afiliadas y controladoras, así como con auditores internos y externos para fines de auditoría.
        <br><br>
        En caso de que un tercero incumpla con lo establecido en <strong>LA LEY</strong>, <strong>EL PRESTADOR</strong> responderá ante <strong>EL CLIENTE</strong> como obligado solidario por dicho incumplimiento.
        <br><br>
        <strong>EL CLIENTE</strong> pone a disposición de <strong>EL PRESTADOR</strong> su Aviso de Privacidad integral en la siguiente dirección electrónica: <a href="https://www.ado.com.mx/aviso-de-privacidad-proveedores">https://www.ado.com.mx/aviso-de-privacidad-proveedores</a>, el cual reconoce y conforme al cual se obliga bajo los mismos términos y deber de cuidado.<br>
        Asimismo, <strong>EL PRESTADOR</strong> se obliga a dar a conocer a <strong>EL CLIENTE</strong> su aviso de privacidad y sus modificaciones por escrito, el cual deberá ser aceptado expresamente por <strong>EL CLIENTE</strong>.
    </p>

    <span class="clause-title">DÉCIMA SEXTA. - CESIÓN DE DERECHOS O SUBROGACIÓN.</span>
    <p>
        <strong>EL PRESTADOR</strong> no podrá ceder los derechos, obligaciones o privilegios relacionados con este Contrato a terceros.  
        <br><br>
        Por su parte, <strong>EL CLIENTE</strong> sí podrá ceder los derechos, obligaciones o privilegios relacionados con el presente Contrato a sus empresas relacionadas, subsidiarias, filiales, afiliadas, controladas o controladoras.
    </p>

    <span class="clause-title">DÉCIMA SÉPTIMA. - DIVISIBILIDAD.</span>
    <p>
        Si un tribunal de jurisdicción competente declara nula, inválida o inejecutable cualquier estipulación contenida en este Contrato, las demás disposiciones continuarán en pleno vigor y efecto.
    </p>

    <span class="clause-title">DÉCIMA OCTAVA. - CONTRATO ÚNICO.</span>
    <p>
        Este Contrato constituye el único acuerdo entre las partes con relación al objeto del mismo y deja sin efecto cualquier otro contrato o acuerdo, ya sea oral o escrito, celebrado con anterioridad a la fecha de firma del presente acuerdo de voluntades.
    </p>

    <span class="clause-title">DÉCIMA  NOVENA. - MODIFICACIONES.</span>
    <p>
        Toda modificación a los términos, plazo y condiciones de este Contrato y sus anexos deberá otorgarse expresamente y por escrito mediante acuerdo de ambas partes. En caso de que <strong>EL PRESTADOR</strong> de cumplimiento en términos distintos a los estipulados en el presente Contrato sin autorización previa y por escrito de <strong>EL CLIENTE</strong>, éste último no responderá por pago adicional alguno a los establecidos en el presente Contrato.
    </p>

    <span class="clause-title">VIGÉSIMA. - GARANTÍA DE CUMPLIMIENTO.</span>
    <p>
        Con el objeto de garantizar el cumplimiento de sus obligaciones <strong>EL PRESTADOR</strong> presentará a la firma del presente Contrato o a más tardar, dentro de los siguientes 60 (sesenta) días naturales siguientes a la fecha de firma del mismo, una póliza de fianza en los términos siguientes:
    </p>
    <ol>
        <li>Deberá tener como beneficiario único a <strong>EL CLIENTE</strong>, no pudiendo ser cancelada sin la autorización previa y por escrito de <strong>EL CLIENTE</strong>.</li>
        <li>Deberá constar la renuncia expresa a los beneficios de orden y excusión.</li>
        <li>Deberá garantizar el cumplimiento de todas las obligaciones derivadas de este Contrato.</li>
        <li>Deberá garantizar el debido desempeño de sus trabajadores, y cualquier responsabilidad laboral que pudiera surgir con motivo de este contrato, en caso de que se emita laudo en donde condene a <strong>EL CLIENTE</strong> a cubrir cantidad alguna, en la que se alegue que <strong>EL CLIENTE</strong> es patrón solidario o patrón sustituto.</li>
        <li>Deberá garantizar cualquier responsabilidad a consecuencia del incumplimiento de <strong>EL PRESTADOR</strong> en el pago de cuotas obrero patronales ante el IMSS, INFONAVIT, SAT o cualquier otra omisión respecto de las obligaciones patronales de <strong>EL PRESTADOR</strong> que pudieran derivarse con motivo del presente contrato, en caso de que se condene a <strong>EL CLIENTE</strong> a cubrir alguna cantidad.</li>
        <li>La póliza deberá cubrir la vigencia del Contrato más seis meses adicionales, por el 20% (veinte por ciento) del valor anualizado de este Contrato sin incluir el correspondiente impuesto al valor agregado (I.V.A.).</li>
        <li>En aquellos casos en que <strong>EL PRESTADOR</strong> reciba un anticipo, además de la póliza que deba cubrir por el 20% (veinte por ciento) del valor del Contrato, mencionada en la presente cláusula, adicionalmente deberá garantizarse el 100% (cien por ciento) del monto entregado por concepto de anticipo.</li>
        <li>Deberá señalarse que el objeto y las obligaciones contenidas en el presente Contrato, tienen el carácter de indivisibles, por lo que la fianza deberá garantizar el cumplimiento de todas y cada una de ellas. En caso de incumplimiento por parte de <strong>EL PRESTADOR</strong>, <strong>EL CLIENTE</strong> podrá hacer efectiva la garantía otorgada por el monto total de la póliza de fianza, teniendo <strong>EL CLIENTE</strong> derecho a cobrar el 100% (cien por ciento) de la cantidad garantizada.</li>
    </ol>
    <p>
        En caso de que, por cualquier razón, algún anexo o el presente Contrato se prorrogara o se modificara alguna cláusula, <strong>EL PRESTADOR</strong> queda obligado a presentar dentro del mes siguiente a la fecha en que inició el nuevo período de vigencia, una póliza de fianza en los términos descritos en los párrafos que anteceden.
    </p>

    <span class="clause-title">VIGESIMA PRIMERA. - SEGURO DE RESPONSABILIDAD CIVIL.</span>
    <p>
        <strong>EL PRESTADOR</strong> se obliga a presentar a <strong>EL CLIENTE</strong> a la firma del presente Contrato o a más tardar dentro de los 30 (treinta) días naturales siguientes a la fecha de firma del mismo, una póliza de responsabilidad civil por daños a terceros en los términos siguientes:
    </p>
    <ol>
        <li>Deberá amparar los daños y perjuicios que se pudiesen ocasionar a terceros en sus bienes y personas, así como a los bienes propiedad de <strong>EL CLIENTE</strong>, a las instalaciones, personal, unidades vehiculares y demás bienes muebles e inmuebles propiedad de <strong>EL CLIENTE</strong> o sus empresas relacionadas, sus subsidiarias, filiales, afiliadas, controladas o controladoras.</li>
        <li>Deberá amparar el o los domicilios en donde se presta el servicio y que viene estipulado en el ANEXO 1 denominado “ALCANCES DEL SERVICIO”.</li>
        <li>Deberá tener endoso hecho a la razón social de <strong>EL CLIENTE</strong>, en donde se señale a éste como beneficiario preferente.</li>
        <li>Deberá amparar la contaminación ambiental.</li>
        <li>Deberá cubrir la vigencia del presente Contrato.</li>
        <li>Deberá señalar como cantidad mínima asegurada, el monto total de $5,000,000.00, en atención a los riesgos que implica el desarrollo del objeto del presente Contrato. Si el monto total de los daños y perjuicios excede de ese importe, <strong>EL PRESTADOR</strong> se hará cargo del pago de ellos.</li>
    </ol>

    <span class="clause-title">VIGESIMA SEGUNDA. - INDIVISIBILIDAD DE OBLIGACIONES.</span>
    <p>
        Las partes acuerdan que las obligaciones convenidas en el presente Contrato tendrán en todo momento el carácter de indivisibles, en virtud de ello, el objeto 
        establecido en la cláusula primera del presente instrumento no será susceptible de cumplimiento parcial, en consecuencia, <strong>EL CLIENTE</strong> podrá exigir a <strong>EL PRESTADOR</strong> el cumplimiento total de los servicios u obras previamente pactados por las partes en el presente instrumento.
    </p>
    <p>
        En caso de incumplimiento por parte de <strong>EL PRESTADOR</strong> a lo establecido en la presente cláusula, <strong>EL CLIENTE</strong> podrá rescindir el Contrato en los términos 
        establecidos en la cláusula de Rescisión Contractual del presente acuerdo de voluntades.
    </p>

    <span class="clause-title">VIGÉSIMA TERCERA. - CUMPLIMIENTO A LA NORMATIVIDAD Y A LA LEGISLACIÓN VIGENTE.</span>
    <p>
        <strong>EL PRESTADOR</strong> se obliga a cumplir y asumir la responsabilidad expresa de la observancia de todas las obligaciones, compromisos y condicionantes previstas en 
        las leyes aplicables que se relacionen con el debido cumplimiento de este Contrato; debiendo adicionalmente cumplir con toda la normatividad vigente y aplicable, 
        ya sea federal, estatal o municipal, de carácter ambiental, en materia de combate a la corrupción, Prevención e Identificación de Operaciones con Recursos de 
        Procedencia Ilícita y competencia económica. La violación a lo establecido en la presente cláusula será causa especial de rescisión del presente Contrato y podrá 
        ejercitarla <strong>EL CLIENTE</strong> en cualquier momento.
    </p>
    <p>
        Asimismo, las partes acuerdan que en caso de existir cualquier cambio o interpretación en la legislación, normatividad, reglamentos y normas oficiales aplicables al 
        objeto contemplado en el presente Contrato, incluyendo de forma enunciativa más no limitativa, cambios en materia laboral, ambiental, fiscal, financiera, mercantil o 
        administrativa, a nivel federal, estatal o municipal, ocurridos con posterioridad a la fecha de firma de este Contrato, <strong>EL PRESTADOR</strong> se obliga a dar cumplimiento a 
        los mencionados cambios, y a entregar, en caso de ser necesario, la documentación que acredite el cumplimiento a las nuevas disposiciones legales o 
        requerimientos de la Autoridad, previo requerimiento que realice <strong>EL CLIENTE</strong>.
    </p>

    <span class="clause-title">VIGÉSIMA CUARTA. - ANTICORRUPCIÓN.</span>
   <p>
        Las partes manifiestan que, durante los actos previos, durante las negociaciones y para la celebración del presente Contrato se han conducido con apego a toda 
        legislación, disposición, normatividad o regulación que fundamente o que resulte relevante en la prevención y el combate a la corrupción.
    </p>
    <p>
        <strong>EL PRESTADOR</strong> expresa que tiene pleno conocimiento que el Estado Mexicano ha suscrito y es parte de diversos acuerdos internacionales en materia de anticorrupción, 
        en los cuales adquirió compromisos con la comunidad internacional a fin de adoptar medidas para prevenir la corrupción, y asume la obligación de cumplir con la 
        legislación federal, estatal y local, reglas, reglamentos, normas mexicanas o normas oficiales mexicanas que resulten aplicables, así como con todos los Tratados 
        Internacionales en los que México sea parte, y reconoce que dichas disposiciones legales sancionan severamente actos de corrupción, por lo que se obliga a observarlas, 
        ya sea directa o indirectamente, y actuar conforme a las mismas durante la ejecución de este Contrato hacia sus contrapartes y hacia terceros.
    </p>
    <p>
        En virtud del presente Contrato, <strong>EL PRESTADOR</strong> se obliga a lo siguiente:
    </p>
    <ul>
        <li>No pagar, otorgar o prometer sobornos, regalos o ventajas indebidas (ni indicar que tal cosa sucederá en el futuro), en relación con el Contrato, a funcionarios 
        públicos a nivel internacional, nacional o local; partidos políticos, funcionarios de partidos políticos o candidatos a cargos políticos, ni a directivos, funcionarios 
        o empleados de la parte contraria, ya sea directa o indirectamente a través de un subcontratista, agente u otro tercero sujeto al control o influencia de una de las partes.</li>
        <li>Deberá acordar con sus subcontratistas en los contratos que celebren que se comprometen a cumplir con las disposiciones en materia de anticorrupción aplicables, 
        y asegurarse del cumplimiento de estas obligaciones por parte de las personas asociadas o quienes puedan ser utilizados para el cumplimiento de sus obligaciones 
        derivadas del presente Contrato.</li>
        <li>Se obliga a reportar oportunamente a <strong>EL CLIENTE</strong> cualquier incumplimiento o sospecha de incumplimiento de esta cláusula, y acepta que la inobservancia de estas 
        obligaciones implica un incumplimiento sustancial del presente Contrato, procediéndose conforme a lo establecido en la cláusula relativa a la Rescisión Contractual.</li>
        <li>Conviene en indemnizar, defender y mantener a <strong>EL CLIENTE</strong> en paz y a salvo, reparándole cualquier daño o perjuicio, incluyendo honorarios y gastos legales, 
        que sean ocasionados en relación con o derivados de cualquier acción, demanda, litigio o controversia que surja directa o indirectamente de su conducta u omisión 
        relacionada con esta cláusula.</li>
    </ul>

    <span class="clause-title">VIGÉSIMA QUINTA. - DOCUMENTACIÓN.</span>
    <p>
        <strong>EL PRESTADOR</strong> se obliga a entregar a <strong>EL CLIENTE</strong> toda documentación o información (en adelante, "LA INFORMACIÓN") que cualquier autoridad le solicite a este último. 
        En virtud de lo anterior, <strong>EL PRESTADOR</strong> deberá entregar "LA INFORMACIÓN" a <strong>EL CLIENTE</strong> en un término no mayor a 48 (cuarenta y ocho) horas contadas a partir de la fecha 
        en que <strong>EL CLIENTE</strong> se lo solicite.
    </p>
    <p>
        <strong>EL PRESTADOR</strong> otorga a <strong>EL CLIENTE</strong> la facultad de retener el pago de la contraprestación hasta en tanto no realice la entrega de "LA INFORMACIÓN" solicitada por <strong>EL CLIENTE</strong>.
    </p>

    <span class="clause-title">VIGÉSIMA SEXTA. - IMPUESTOS.</span>
    <p>
        En el cumplimiento de sus obligaciones conforme al presente Contrato, cada una de las partes será responsable de cubrir en tiempo y forma, bajo su exclusiva cuenta, los impuestos, derechos o cualesquiera otras contribuciones de carácter fiscal que a su cargo establezcan las leyes respectivas.
    </p>

    <span class="clause-title">VIGÉSIMA SÉPTIMA. - SUBCONTRATACIÓN.</span>
    <p>
        Las partes convienen que EL PRESTADOR no estará facultado bajo ninguna circunstancia para subcontratar, aglutinar, invitar y/o involucrar a personas físicas o morales 
        para la ejecución de los servicios descritos en este Contrato.
    </p>
    <p>
        El incumplimiento de esta cláusula permitirá a EL CLIENTE rescindir el Contrato sin responsabilidad alguna, en los términos establecidos en la cláusula de 
        Rescisión Contractual del presente Contrato.
    </p>

    <span class="clause-title">VIGÉSIMA OCTAVA. - USO DE ESPACIO.</span>
    <p>
        En caso de que EL PRESTADOR requiera un espacio dentro de las instalaciones de EL CLIENTE, deberá hacer la solicitud por escrito y justificar la misma. 
        EL CLIENTE podrá proporcionar a EL PRESTADOR un área física donde éste pueda realizar las actividades inherentes a la prestación de los “SERVICIOS”, 
        quedando en el entendido que EL PRESTADOR podrá o no hacer uso de dicho espacio, ya que cuenta con oficina e instalaciones propias.
    </p>
    <p>
        Las partes acuerdan que el uso del espacio por parte de EL PRESTADOR o de sus empleados dentro de las instalaciones de EL CLIENTE no implica que estén bajo 
        la dirección o subordinación de EL CLIENTE, ya que EL PRESTADOR será el único responsable de fijar las condiciones y formas mediante las cuales cumplirá 
        con los fines de este Contrato.
    </p>

    <span class="clause-title">VIGÉSIMA NOVENA. - NOTIFICACIONES Y DOMICILIOS.</span>
    <p>
        Cualquier notificación, aviso o comunicación que se solicite o se envíe en los términos de este Contrato, deberá hacerse por escrito y enviarse con mensajero o por correo certificado con acuse de recibo, al domicilio de cada una de las partes. 
        <br><br>
        Para efectos de este Contrato las partes designan como sus domicilios los siguientes: 
    </p>

    <div style="display: flex; justify-content: space-around; margin-top: 10px;">
        <div style="width: 45%;">
            <strong>EL CLIENTE:</strong><br />
            Artilleros 123, Colonia 7 de Julio, Alcaldía Venustiano Carranza, C.P. 15390, Ciudad de México.
        </div>
        <div style="width: 45%;">
            <strong>EL PRESTADOR:</strong><br />
            @Model.Address
        </div>
    </div>

    <span class="clause-title">TRIGÉSIMA. - VIGENCIA.</span>
    <p>
        El presente Contrato iniciará su vigencia de manera retroactiva a partir del día <strong>01 DE ENERO DE 2026</strong> y concluirá el día 
        <strong>31 DE DICIEMBRE DE 2026</strong>.
    </p>
    <p>
        No obstante lo anterior, en caso de terminación anticipada o rescisión del Contrato, permanecerán vigentes las obligaciones en materia de 
        garantía de cumplimiento, propiedad industrial e intelectual, confidencialidad y protección de datos personales.
    </p>

    <span class="clause-title">TRIGÉSIMA PRIMERA. - JURISDICCIÓN.</span>
    <p>
        Para los efectos de ejecución, interpretación o cumplimiento del presente Contrato, ambas partes se someten expresamente a las Leyes Federales de los 
        Estados Unidos Mexicanos, en particular al Código Civil Federal, así como a la jurisdicción y competencia de los Tribunales Federales adscritos a la Ciudad de 
        México, renunciando expresamente a cualquier otro fuero, leyes o jurisdicción que pudiera corresponderles por razón de sus domicilios presentes o futuros, 
        o por cualquier otra causa.
    </p>
    <p>
        Las partes manifiestan que, al elaborar el presente Contrato, su voluntad no se vio influenciada por algún vicio del consentimiento que pudiera nulificarla en 
        todo o en parte, por lo que, enteradas de su contenido, alcance y fuerza legal, lo suscriben por duplicado, ante la presencia de dos testigos, el <strong>[FECHA DE FIRMA]</strong>, 
        en la Ciudad de México, Estados Unidos Mexicanos.
    </p>
</div>